In [6]:
import pandas as pd
data = pd.read_csv("deathStats.csv", na_values=["—", "np"], thousands=",")

def header_check(x):
    start = x.rfind("(") + 1
    string = x[start:-1]
    if string.find("-") > -1:
        return True
    else:
        return False
    
data["header"] = data["cause"].apply(header_check)
data_raw = data[data["header"] == False]
data_raw

,cause,avoidable,men,women,people,Males,Females,Persons,Males.1,Females.1,Persons.1,header
2,Cholera (A00),NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
3,Typhoid and paratyphoid fevers (A01),NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
4,Other salmonella infections (A02),NaN,11,4,15,NaN,NaN,NaN,52.0,NaN,51.0,False
5,Shigellosis (A03),NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
6,Other bacterial intestinal infections (A04),NaN,31,31,62,0.2,0.2,0.2,55.0,44.0,98.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1938,Evidence of alcohol involvement determined by ...,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
1939,Nosocomial condition (Y95),NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
1940,Work-related condition (Y96),NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
1941,Environmental-pollution-related condition (Y97),x,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
1942,Lifestyle-related condition (Y98),NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [7]:
deaths_all = data_raw["people"].sum()
deaths_all

158537

In [8]:
deaths_avoidable = data_raw[data_raw["avoidable"] == "x"]
deaths_avoidable = deaths_avoidable.sort_values("Persons", ascending=False)
deaths_avoidable

,cause,avoidable,men,women,people,Males,Females,Persons,Males.1,Females.1,Persons.1,header
718,Chronic ischaemic heart disease (I25),x,6081,3768,9849,44.0,19.6,30.8,35948.0,8385.0,43838.0,False
714,Acute myocardial infarction (I21),x,4016,3306,7322,29.2,17.1,22.7,18708.0,5558.0,24032.0,False
814,Other chronic obstructive pulmonary disease (J44),x,3371,3072,6443,24.3,17.6,20.5,11243.0,9469.0,20672.0,False
747,"Stroke, not specified as haemorrhage or infarc...",x,1617,2591,4208,11.8,12.7,12.5,2758.0,1465.0,4203.0,False
260,Malignant neoplasm of prostate (C61),x,3264,0,3264,23.6,NaN,10.3,7686.0,NaN,7518.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1927,Surgical operation and other surgical procedur...,x,10,9,19,NaN,NaN,NaN,38.0,107.0,147.0,False
1928,Other medical procedures as the cause of abnor...,x,3,2,5,NaN,NaN,NaN,NaN,NaN,NaN,False
1933,"Sequelae of intentional self-harm, assault and...",x,5,2,7,NaN,NaN,NaN,197.0,NaN,311.0,False
1935,Sequelae of other external causes (Y89),x,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
1941,Environmental-pollution-related condition (Y97),x,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [9]:
data_headers = data[data["header"] == True]
data_headers = data_headers.sort_values("Persons", ascending=False)
data_headers

,cause,avoidable,men,women,people,Males,Females,Persons,Males.1,Females.1,Persons.1,header
195,CHAPTER II Neoplasms (C00-D48),NaN,26924,20878,47802,193.5,127.7,157.2,176953.0,149675.0,325939.0,True
196,Malignant neoplasms (C00-C97),NaN,26263,20316,46579,188.7,124.6,153.3,174183.0,147820.0,321331.0,True
695,CHAPTER IX Diseases of the circulatory system ...,NaN,20907,20942,41849,151.9,108.9,129.3,101011.0,42527.0,142541.0,True
712,Ischaemic heart diseases (I20-I25),NaN,10269,7264,17533,74.4,37.6,54.6,55172.0,14095.0,68532.0,True
775,CHAPTER X Diseases of the respiratory system (...,NaN,7460,7067,14527,54.1,38.6,45.4,26264.0,19402.0,45555.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1878,Legal intervention and operations of war (Y35-...,NaN,9,0,9,NaN,NaN,NaN,435.0,NaN,435.0,True
1882,"Drugs, medicaments and biological substances c...",x,6,11,17,NaN,NaN,NaN,121.0,154.0,275.0,True
1903,Misadventures to patients during surgical and ...,x,7,1,8,NaN,NaN,NaN,NaN,NaN,NaN,True
1912,Medical devices associated with adverse incide...,x,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,True
1936,Supplementary factors related to causes of mor...,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True

In [10]:
data_all = data[data["avoidable"] == "x"].sort_values("Persons", ascending=False)
data_all.head(25)
data_all.to_csv("data_all.csv", index=False)